<div class="topbar">
    <h2> {{article.title}}</h2>
</div>


<p class="timestamp">{{article.createdAt}}</p>
<p>{{article.content}}</p>
{{#if comment}}
{{#each comment}}
{{comment.content}}
{{/each}}
{{/if}}
<form action=""></form>
<form action="/article/{{article.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Post"></form>
<form action="/" method="GET">
    <input type="submit" value="Back">
</form>
<form action="/article/{{article.id}}/edit">
    <input type="submit" value="Edit"></form>