<div class="topbar">
    <h2> {{article.title}}</h2>
    <div class="buttons">
        <form action="/article/{{article.id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete Post">
        </form>
        <form action="/" method="GET">
            <input type="submit" value="Back">
        </form>
        <form action="/article/{{article.id}}/edit">
            <input type="submit" value="Edit"></form>
    </div>
</div>


<div class="centerspace">
    <p class="timestamp"> {{article.createdAt}}</p>
    <br>
    <p class="article"> {{article.content}}</p>
    <form action="/article/{{article._id}}?_method=PUT" method="POST">
        <textarea rows="2" cols="90" name="content" id="" maxlength="125" placeholder="Speak on it!"></textarea><br>
        <input type="submit" value="Post">
    </form>
    <h3 class="c-header">Comments:</h3>

    {{#each article.comments}}
    <p>{{content}}</p>
    {{/each}}



</div>
<div class="bottombar"></div>